 * {
     margin: 0;
     padding: 0;
 }

 body {
     background-color: rgb(0, 0, 33);
     color: white;
     font-family: 'Poppins' sans-serif;
 }

 nav {
    
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(4, 4, 68);
     height: 80px;
  
     margin-bottom: 10px;
    padding: 0px 20px;
    

 }

 nav ul {
     display: flex;
     justify-content: space-between;


 }

 nav ul li {
     list-style: none;
     margin: 0px 0px 0px 30px;

 }

 nav ul li a {
     text-decoration: none;
     color: white;
 }

 nav ul li a:hover {
     color: lavender;
     font-size: 1.01em;

 }
 .button{
        margin-right: 30px;
    background-color: rgb(3 3 71);
    border-radius: 5px;
    scale: 1.2;
    cursor: pointer;
 }

 .leftnav {
     font-size: 1.5rem;
     margin-left: 30px;
 }

 .firstsection {
     display: flex;
     justify-content: space-between;
     margin: 80px 0px;
     max-height: 100vh;


 }
 h1 {
    font-size: 1.9rem;}

 .firstsection>div {
    margin: 0px 30px;
    padding: 0px 20px;
     
 }
 

 .rightsection img {
     width: 50%;
     transition: .3s ease;
    
         width: 368px;
 }

 .rightsection img:hover {
     scale: 1.1;
 }

 .rightsection {
     align-items: baseline;
     max-height: 100vh;
     margin-right: 40px;
 }

 .leftsection {
     font-size: 2.5rem;
     
     width: 60%;
     margin-top: 35px;

 }

 .purple {
     color: rgb(111, 63, 156);
 }

 #element {
     color: rgb(111, 63, 151);
 }

 main hr {
     margin: 20px 0px;
     padding: auto;
 }

 .gray-text {
     color: gray
 }

 .secondsection {
     min-height: 70vh;

         margin: 0px 80px 0px 10p


 }

 .info {

     display: flex;
     margin-top: 7%;
     
     
     display: flex;
     justify-content: space-between;
     margin: 40px 30px;
     padding: 0px 20px;
     max-height: 100vh;
 }
 .aboutleft{
    max-width: 50%;
    
 }
 
 .aboutright{
    max-width: 50%;
 }
 .secondsection .aboutright img{
    width: 368px;
    
  }
 .secondsection h1 {
    font-size: 1.9rem;
    margin: 0px 30px;
    padding: 0px 20px;
    margin-bottom: 10px;
}

 .thirdsection {
     max-width: 60vw;
     
     margin: auto;

 }
 .h1{
    margin-bottom: 18px;
 }
 .name{
    padding: 30px 20px;
 }
 .proj{
    display:flex;
    border : 2px solid white;
    padding: 20px;
    margin: 5px;
    justify-content: space-between;    
   
 }
 .projleft{
    width: 75%;
 }
 .projright img{
       width: 100px;
    height: 100px;
    position: relative;
    margin-right: 50px;
    animation: swing 2s ease-in-out infinite;
 }
 .proj figcaption{
color: rgb(74, 74, 109);

 }
.projright img:hover{
    scale: 1.2;
}
.proj p{
    padding-top: 10px;
}

@keyframes swing {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }

    
    
}

.newthird h1{
     margin: 0px 30px;
    padding: 0px 20px;

}

.projects{
    width: 73%;
    overflow: hidden;
    overflow-x: hidden;
   
    margin : 80px auto;

}

.track{
    display: flex;
    width: 50%;
    width: max-content;
    animation: scroll 18s linear infinite;
    justify-content: center;
}
.track img:hover{
    scale: 1.2;
}

.track img{
    width: 120px;
    margin: 0 20px;
}
@keyframes scroll{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-50%);
    }
}


.fourthsection{

        height: 100vh;
    margin-bottom: 3px;
    padding: 0px 0px 0px 0px;
    width: 100vw;
       padding: 13px 0px;
     
     
}
@keyframes attention {

    /* Normal */
    0% {
        transform: translateX(0) translateY(0) scale(1);
    }

    /* Shiver */
    5% {
        transform: translateX(-2px) rotate(-2deg);
    }

    10% {
        transform: translateX(2px) rotate(2deg);
    }

    15% {
        transform: translateX(-2px) rotate(-2deg);
    }

    20% {
        transform: translateX(2px) rotate(2deg);
    }

    25% {
        transform: translateX(-2px) rotate(-2deg);
    }

    /* Pop forward */
    35% {
        transform: scale(1.25);
    }

    /* Return */
    50% {
        transform: scale(1);
    }

    /* Stay still before repeating */
    100% {
        transform: scale(1);
    }
}
.name{
    border-bottom: 3px solid rgb(77, 59, 77);
    padding: 1.5px;
   
}
.fourthsection h2{
    
       margin: 0px 30px;
       margin-bottom: 12px ;
    padding: 0px 20px;
    
    display: inline-block;
    
}
.contactmedium{
    display: flex;
    justify-content: space-between;
        display: flex;
    justify-content: space-between;
    padding: 0px 61px;
    margin: 0px 77px;

}
.fourthsection .logo img{
        width: 85px;
        animation: attention 3s infinite;
        padding: 30px;


    }
    .fourthsection h4{
        font-size: 1.2rem;
        display: inline-block;
        margin-left: 50px;

    }
form{
    margin: 20px 0px;
}
#message,#lastname,#firstname,#subject,#email{
    background-color: rgb(28 28 47);
    color: white; 
    border: none;
    border-bottom: 2px solid rgb(67, 67, 100);
    
}

#message{
    width: 40%;
 height: 50%;
}
.row{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.fields{
    display: flex;
flex-direction: column;
    width: 100%;
    padding-left: 50px;
   
}

.input0{
    width: 100%;
    margin: 0px;
  
    background-color: rgb(28, 28, 47);
    color: white;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: currentcolor currentcolor rgb(67, 67, 100);
    border-image: none;
    border-bottom: 2px solid rgb(67, 67, 100);
    
}
.input1{
    width: 45%;
    background-color: rgb(28, 28, 47);
    color: white;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: currentcolor currentcolor rgb(67, 67, 100);
    border-image: none;
    border-bottom: 2px solid rgb(67, 67, 100);
}
.emailss{
    margin:0px 30px;
    padding: 0px 20px;
    
}
.texting{
     margin:0px 30px;
    padding: 0px 20px;
}
label{
    margin:0px 0px
}
button{
     background-color: rgb(0, 0, 33);
     color: rgb(243, 240, 240);
      margin:0px 50px;

}
footer{
    height: 30vh;
       background-color: rgb(34 34 77);
}

.fifth h3{
       margin: 0px 50px;
    padding: 0px 0px;
    margin-top: 20px;
    display: inline-block;
    border-bottom: 3px solid rgb(103 97 103);
}
p{
   
    font-size: 1.2rem;
}
.fifth p{
     margin: 0px 30px;
    padding: 0px 20px;

}
.fifth h1{

    margin: 0px 30px;
    padding: 0px 20px;
    margin-bottom: 15px;
}
footer{
    height: 25vh;
   
}
.footeradjustment {
    
     display: flex;
     justify-content: space-between;
     align-items: center;
    color: gray;
    padding-top: 20px;
     margin-bottom: 10px;
    padding: 0px 20px;
   
    

 }
 .rightfooter{
    margin-right: 30px;
 }

 .leftfooter {
     font-size: 1.5rem;
     margin-left: 30px;
 }

.footer ul {
     display: flex;
     justify-content: space-between;


 }

 .footer ul li {
     list-style: none;
     margin: 0px 0px 0px 30px;

 }

 .footer ul li a {
     text-decoration: none;
     color: grey;
 }
 .bottomfooter{
    display: inline-block;
 }
 .bottomfooter > div{
    padding: 12px;
    margin-left: 50px;
 }
 .middlefooter ul{
    display: block;
    color:aliceblue;
    margin-left: 75px;
    padding: 0px 0px 0px 20px;
    
  
 }
.content{
    display: flex ;
    justify-content: start;
}
.list >li{
    padding: 12px 0px;
    padding-left: 150px;
}
.form-contect{
    width: 100%;
    
}
.textaria{
    width: 100%;
   
}





.cardbox{
   
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;

}
.card{
   
    width: 210px;
    height: 250px;
    background-color:rgb(21 21 51);
    border-radius: 20px;

}
.card:hover{
    scale: 1.1;
    background-color: rgb(6 6 61);
}

.card p{
    margin: 0px;
    padding: 0px 5px ;
    scale: 1;
    color: gray;
}
h5{
    font-size: 30px;
    color: gray;   
     padding: 0px 5px ;
}
.textaria{
   
    background-color: rgb(28, 28, 47);
    color: white;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: currentcolor currentcolor rgb(67, 67, 100);
    border-image: none;
    border-bottom: 2px solid rgb(67, 67, 100);
    margin-bottom: 10px;
}